# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Omar Shaikh Omar
email = omarshaikhomar@gmail.com
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED \
          -c '$wincmd w' -c 'wincmd J'
